.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(13, 15, 36, 0.4);
  padding: 0 3em 3em 3em;
  .scoreBoard__content {
    .first > span {
      color: gold;
    }
    .second > span {
      color: silver;
    }
    .third > span {
      color: brown;
    }
    .scoreBoard__content__item {
      color: #000;
    }
  }
}
