.App {
  .join_room {
    display: block;
  }
  .gameDisplay {
    display: block;
    .info-compu {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 1em;
      .back {
        cursor: pointer;
        margin-left: -0.5em;
        font-size: 19px;
        color: tomato;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    .info-phone {
      display: none;
    }
  }
  .hidden {
    display: none;
  }
}

@media (max-width: 800px) {
  .App {
    .join_room {
      display: block;
    }
    .gameDisplay {
      display: block;
      .info-compu {
        display: none;
      }
      .info-phone {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        .icon {
          position: relative;
          margin: 1em;
          cursor: pointer;
          z-index: 11;
          transition: 350ms;
          color: black;
        }
        .sidebar {
          position: absolute;
          top: 0;
          left: 0;
          height: 100vh;
          width: 0;
          transition: 350ms;
          background-color: rgba($color: #0d0f248a, $alpha: 0.85);
          z-index: 10;
          .container {
            display: none;
            margin-top: 4em;
            margin-left: 1em;
            color: white;
            .back {
              cursor: pointer;
              color: tomato;
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
        }
        .icon-extand {
          color: white;
          transform: translateX(35%);
          transition: 350ms;
        }
        .extand {
          width: 50%;
          transition: 350ms;
          .container {
            display: block;
          }
        }
      }
    }
    .crop {
      position: absolute;
      top: 0;
      width: 0;
      height: 100vh;
      transition: 350ms;
      z-index: 8;
      background-color: rgba($color: #0d0f24c4, $alpha: 0.35);
    }
    .invalid {
      width: 100%;
      transition: 350ms;
    }
  }
  .hidden {
    display: none;
  }
}
