.App {
  .join_room {
    display: block;
  }
  .gameDisplay {
    display: block;
    .room {
      position: absolute;
    }
    .money {
      position: absolute;
      margin-top: 3em;
    }
    .volume {
      position: absolute;
      margin-top: 4.8em;
    }
  }
  .hidden {
    display: none;
  }
}
